<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        Realm Hub
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">

    <link rel="stylesheet" href="/views/css/scribbler-global.css">
    <link rel="stylesheet" href="/views/css/scribbler-landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

</head>

<body>


<!-- Hero -->
<div class="hero">
    <h1 class="hero__title">
        Realm Royale
    </h1>

    <p class="hero__description">
        Community Hub
    </p>
</div>

<!-- Hero Terminal -->
<div class="hero__terminal">
    <pre>
        <!-- Place your demo code here -->
        <code class="shell-session">
          <h1 class = "code-heading">Features :</h1><h2 class = "demo"></h2>
        </code>
      </pre>
</div>

<div class="wrapper">
    <!-- Features -->
    <div class="feature">

        <!-- Feature -->
        <div class="feature__item">


            <h3>
                <a href="mmr" class="button--primary">
                    MMR
                </a>
            </h3>
        </div>

        <!-- Feature -->
        <div class="feature__item">

            <h3>
                <a href="customs" class="button--primary">
                    Custom Games
                </a>
            </h3>
        </div>

        <!-- Feature -->
        <div class="feature__item">
            <h3>
                <a href="orgtourney" class="button--primary">
                    Organize Tourney
                </a>
            </h3>
        </div>

        <!-- Feature -->
        <div class="feature__item">
            <h3>
                <a href="stats" class="button--primary">
                    Player Stats
                </a>
            </h3>
        </div>

        <!-- Realm Giveaway -->
<!--        <div class="feature__item">-->
<!--            <h3>-->
<!--                <a href="realmgiveaway" class="button&#45;&#45;primary">-->
<!--                    Realm Royale Giveaway-->
<!--                </a>-->
<!--            </h3>-->
<!--        </div>-->

    </div>

</div>


<!-- Footer -->
<footer class="footer">

    <p style="color:white">Created by Realm Royale Community Member <a href="https://twitch.tv/slickynicky00"><u style="color:white">SlickyNicky</u></a></p>
</footer>



</body>
<script src="../scripts/scribbler.js"></script>

</html>